body {
  background-color: rgb(231, 11, 11);
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-size: 24px;
}
h1,
p {
  color: rgb(240, 245, 220);
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
}
main {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 100px;
}
.image {
  width: 600px;
}
img {
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.card {
  width: 600px;
  height: 600px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  text-align: center;
}
